header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 5em;
    color: #228B22;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 5px;
}
h3{
    font-size: 2em;
    font-style: normal;
    font-variant: normal;
    color: #9ACD32;
    margin-top: 10px;
    margin-bottom: 25px;
}
.selecao, .btnSortear, .sorteio, .acertos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.selecao > input{
    width: 2em;
    font-size: 3.5em;
    margin-right: 15px;
    background-color: #FF34B3;
}
.btnSortear > button{
    font-size: 2em;
    padding: 10px 20px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CD2990;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 20px;
    position: absolute;
    bottom: 0;
}
footer > p{
    font-size: 1.5em;
}
